@import '../color.scss';

.home {
  width: 100vw * 0.8;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  .background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: auto;
    object-fit: none;
  }
  .logo {
    z-index: 10;
    width: 320px;
    height: auto;
    margin: 0 0 180px 250px;
  }
  a {
    z-index: 10;
    text-decoration: none;
  }
  h1 {
    color: $colorBlack;
    font-size: 24px;
  }
  button {
    border: none;
    color: $colorWhite;
    background-color: $colorBrown;
    font-size: 36px;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 30px 0 100px 0;
    cursor: pointer;
  }
}

.login {
  width: 100vw * 0.8;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorBackgroundWhite;
  .logo {
    width: 200px;
    height: auto;
    display: flex;
    margin: 50px 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    .login_btn {
      display: flex;
      align-items: center;
      width: 880px;
      justify-content: space-between;
      .input_user {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 130px;
        justify-content: space-between;
        .email,
        .pw {
          display: flex;
          justify-content: space-between;
          width: 620px;
          h1 {
            margin: 0;
            font-size: 32px;
            font-weight: 200;
          }
          label {
            width: 450px;
            height: 45px;
            background-color: $colorBeige;
            border-radius: 30px;
            display: flex;
            align-items: center;
            img {
              width: auto;
              height: 35px;
              margin: 0 25px;
            }
            input {
              border: none;
              background-color: $colorBeige;
              height: 40px;
              font-size: 24px;
              font-weight: 200;
              margin-right: 40px;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
      button {
        width: 200px;
        height: 130px;
        border: none;
        border-radius: 20px;
        background-color: $colorBrown;
        color: $colorWhite;
        font-size: 44px;
        cursor: pointer;
      }
    }
    h1 {
      font-weight: 200;
      font-size: 28px;
      margin: 50px;
    }
    .google_btn {
      background-color: $colorBrown;
      color: $colorWhite;
      border: none;
      border-radius: 30px;
      height: 58px;
      width: 370px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 32px;
      font-weight: 100;
      margin: 0 0 50px 0;
      cursor: pointer;
      img {
        height: 30px;
      }
    }
  }
  .join_btn {
    border: none;
    font-size: 28px;
    background-color: $colorBackgroundWhite;
    margin-bottom: 40px;
    cursor: pointer;
  }
  .spinner {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    border: 30px solid $colorGrey;
    border-top: 30px solid $colorBeige;
    animation: spin 2s linear infinite;
    margin-top: 80px;
  }
  .spinner_text {
    margin: 100px 0;
    font-size: 30px;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.join_email {
  width: 100vw * 0.8;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorBackgroundWhite;
  .logo {
    width: 200px;
    height: auto;
    display: flex;
    margin: 50px 0;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
    .email,
    .pw {
      display: flex;
      justify-content: space-between;
      width: 620px;
      h1 {
        margin: 0;
        font-size: 32px;
        font-weight: 200;
      }
      label {
        width: 450px;
        height: 45px;
        background-color: $colorBeige;
        border-radius: 30px;
        display: flex;
        align-items: center;
        img {
          width: auto;
          height: 35px;
          margin: 0 25px;
        }
        input {
          border: none;
          background-color: $colorBeige;
          height: 40px;
          font-size: 24px;
          font-weight: 200;
          margin-right: 40px;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    .check_btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 47%;
      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 55px;
        input {
          display: none;
          &:checked ~ span {
            background-color: $colorBrown;
          }
          &:checked ~ span:before {
            height: 10px;
            transition: all 0.15s ease 0.15s;
          }
          &:checked ~ span:after {
            height: 18px;
            transition: all 0.28s ease 0.28s;
          }
        }
        span {
          display: inline-block;
          width: 20px;
          height: 20px;
          border: 3px solid $colorBrown;
          border-radius: 5px;
          position: relative;
          cursor: pointer;
          &:before {
            content: '';
            display: inline-block;
            width: 4px;
            height: 0;
            background-color: $colorWhite;
            position: absolute;
            transform-origin: left top;
            border-radius: 10px;
            top: 11px;
            left: 0px;
            transform: rotate(-45deg);
          }
          &:after {
            content: '';
            display: inline-block;
            width: 4px;
            height: 0;
            background-color: $colorWhite;
            position: absolute;
            transform-origin: left top;
            border-radius: 10px;
            top: 19px;
            left: 8px;
            transform: rotate(-135deg);
          }
        }
      }
      h3 {
        font-weight: 400;
      }
    }
    button {
      background-color: $colorBrown;
      color: $colorWhite;
      border: none;
      border-radius: 30px;
      height: 58px;
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 32px;
      font-weight: 100;
      cursor: pointer;
    }
  }
}

.calender {
  width: 100vw * 0.8;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorBackgroundWhite;
  position: relative;
  justify-content: space-around;
  .logo {
    position: absolute;
    width: 100px;
    height: auto;
    left: 25px;
    top: 15px;
  }
  .map {
    position: absolute;
    width: 60px;
    height: auto;
    right: 5px;
    top: 10px;
    cursor: pointer;
    background-color: transparent;
  }
  .month {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 220px;
    margin-top: 50px;
    img {
      display: flex;
      width: 20px;
      height: auto;
      cursor: pointer;
    }
    span {
      font-size: 36px;
      font-weight: 200;
    }
    .next {
      transform: rotate(180deg);
    }
  }
  table {
    width: 980px;
    height: 750px;
    margin-bottom: 50px;
    border-collapse: collapse;
    thead {
      font-size: 24px;
      border-bottom: 1px solid black;
      th {
        width: 140px;
        height: 30px;
        color: $colorBlack;
        &.sun {
          color: red;
        }
        &.sat {
          color: blue;
        }
      }
    }
    tbody {
      tr {
        font-size: 20px;
        border-bottom: 1px solid black;
        vertical-align: top;
        td {
          width: 140px;
          height: 140px;
          padding: 5px 0 0 8px;
          box-sizing: border-box;
          &.sunday {
            color: red;
          }
          &.saturday {
            color: blue;
          }
          &.not_now_month {
            color: $colorGrey;
          }
          &.today {
            background-color: $colorBeige;
          }
          &.select_day {
            border: 2px solid $colorBrown;
          }
          .daily_content {
            width: 125px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            box-sizing: border-box;
            margin-top: 5px;
            padding-top: 2px;
            color: $colorWhite;
            font-size: 18px;
            cursor: pointer;
            p {
              margin: 0;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
  .add {
    position: absolute;
    width: 100px;
    height: auto;
    bottom: 40px;
    right: 60px;
    cursor: pointer;
  }
}

.map_container {
  width: 100vw;
  height: 100vh;
  background-color: $colorWhite;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .header {
    display: flex;
    width: 80%;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    background-color: $colorLightBeige;
    border-radius: 50px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 30px;
    z-index: 10;
    .logo {
      width: 70px;
      height: auto;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: $colorWhite;
      width: 50%;
      height: 40px;
      border-radius: 10px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      input {
        border: none;
        width: 80%;
        height: 95%;
        font-size: 24px;
        &:focus {
          outline: none;
        }
      }
      img {
        width: 30px;
        height: auto;
        cursor: pointer;
      }
    }
    .calender {
      width: 45px;
      height: auto;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .add {
    width: 100px;
    height: auto;
    position: absolute;
    bottom: 50px;
    right: 130px;
    z-index: 10;
    cursor: pointer;
  }
  .overlay {
    background-color: $colorBeige;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    .content_title {
      cursor: pointer;
    }
  }
}

.add_content {
  width: 100vw * 0.8;
  height: auto;
  min-height: 100vh;
  background-color: $colorWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  .logo {
    position: absolute;
    width: 100px;
    height: auto;
    left: 30px;
    top: 15px;
    cursor: pointer;
  }
  .map {
    position: absolute;
    width: 60px;
    height: auto;
    right: 5px;
    top: 10px;
    cursor: pointer;
    background-color: transparent;
  }
  .inputs {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 70px 0;
    .titles,
    .dates,
    .colors,
    .places {
      display: flex;
      align-items: center;
      width: 800px;
      position: relative;
      h3 {
        font-weight: 400;
        font-size: 24px;
        width: 10%;
        margin-right: 150px;
      }
      label,
      .color_code {
        background-color: $colorBeige;
        width: 350px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        input {
          border: none;
          background-color: transparent;
          height: 35px;
          font-size: 20px;
          &:focus {
            outline: none;
          }
        }
        .date {
          width: 85%;
        }
        img {
          height: 32px;
          width: auto;
          z-index: 210;
          cursor: pointer;
        }
      }
      .title {
        width: 500px;
        input {
          width: 90%;
        }
      }
      .color_code,
      .place {
        font-size: 22px;
        justify-content: space-between;
        padding: 0 20px 0 30px;
        box-sizing: border-box;
        position: relative;
        .place_result {
          position: absolute;
          background-color: $colorBeige;
          top: 40px;
          left: 20px;
          width: 275px;
          z-index: 200;
          font-size: 20px;
          p {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 10px 0 10px 12px;
            margin: 0;
            &:hover {
              background-color: $colorLightBeige;
            }
          }
        }
      }
      .color_code {
        font-size: 20px;
      }
      .choose_place {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
      }
      .color_picker {
        position: absolute;
        right: 0px;
        z-index: 300;
      }
    }
  }
  .editor_box {
    width: 80%;
    height: auto;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 100px;
    margin: 20px 0;
    button {
      border: none;
      font-size: 28px;
      width: 270px;
      height: 60px;
      border-radius: 40px;
      background-color: $colorBeige;
      &:active {
        background-color: $colorBrown;
        color: white;
      }
    }
  }
}

.content_view {
  width: 100vw * 0.8;
  height: auto;
  min-height: 100vh;
  background-color: $colorWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  .logo {
    position: absolute;
    width: 100px;
    height: auto;
    left: 30px;
    top: 15px;
    cursor: pointer;
  }
  .map {
    position: absolute;
    width: 60px;
    height: auto;
    right: 5px;
    top: 10px;
    cursor: pointer;
    background-color: transparent;
  }
  .title_date {
    display: flex;
    width: 80%;
    height: 50px;
    color: $colorWhite;
    border-radius: 40px;
    font-size: 28px;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    .title {
      margin-left: 30px;
      font-weight: 700;
    }
    .date {
      margin-right: 25px;
      font-size: 20px;
    }
  }
  .text {
    width: 80%;
    height: auto;
    min-height: 800px;
    background-color: $colorLightGrey;
    margin: 30px 0;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding-left: 15px;
  }
  .place {
    width: 80%;
    height: 50px;
    color: $colorWhite;
    display: flex;
    border-radius: 40px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .address {
      margin-left: 25px;
    }
    .place_name {
      margin-right: 25px;
      font-weight: 900;
    }
  }
}

@media screen and (max-width: 1280px) {
  .home,
  .login,
  .join_email,
  .calender,
  .add_content,
  .content_view {
    width: 100vw;
  }
}

@media screen and (max-width: 1080px) {
  .home {
    width: 100%;
    height: 100%;
    .background {
      object-fit: fill;
    }
    .logo {
      width: 200px;
      margin: 0 0 60px 70px;
    }
    button {
      margin: 5px 0 70px 0;
    }
  }
  .login {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    .logo {
      margin: 0;
    }
    .content {
      height: 90%;
      .login_btn {
        flex-direction: column;
        width: 500px;
        height: 320px;
        .input_user {
          height: 210px;
          .email,
          .pw {
            flex-direction: column;
            width: 350px;
            h1 {
              margin: 10px 0;
            }
            label {
              width: 350px;
              input {
                width: 80%;
              }
            }
          }
        }
        button {
          height: 60px;
          font-size: 40px;
          border-radius: 30px;
        }
      }
      h1 {
        margin: 35px 0;
      }
    }
    .spinner {
      margin: 0;
    }
    .spinner_text {
      margin: 0 0 50px 0;
      font-size: 25px;
    }
  }

  .join_email {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    .logo {
      margin: 0;
    }
    .inputs {
      .email,
      .pw {
        flex-direction: column;
        width: 90%;
        h1 {
          margin: 10px 0;
        }
        label {
          width: 100%;
          margin-bottom: 30px;
          input {
            width: 80%;
          }
        }
      }
    }
    .select {
      .check_btn {
        width: 85%;
        margin-bottom: 50px;
        label {
          margin-right: 10px;
        }
        h3 {
          width: 300px;
        }
      }
    }
  }

  .calender {
    width: 100%;
    height: 100%;
    .logo {
      width: 70px;
      left: 10px;
    }
    .map {
      width: 40px;
    }
    .month {
      margin-top: 20px;
    }
    table {
      width: 95%;
      thead {
        font-size: 16px;
      }
      tbody {
        tr {
          font-size: 16px;
          td {
            padding: 3px 0 0 4px;
            width: calc(100% / 7);
            .daily_content {
              width: 100%;
              font-size: 12px;
              height: 25px;
              border-radius: 3px;
            }
          }
        }
      }
    }
    .add {
      right: 20px;
    }
  }

  .add_content {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    .logo {
      width: 70px;
      left: 10px;
    }
    .map {
      width: 40px;
    }
    .inputs {
      width: 85%;
      margin: 70px 0 30px 0;
      .titles,
      .dates,
      .colors,
      .places {
        width: 100%;
        h3 {
          margin-right: 10px;
          font-size: 20px;
          width: 30%;
        }
        .color_code {
          width: 100%;
          padding: 0;
          span {
            margin-left: 20px;
          }
          img {
            margin-right: 15px;
          }
        }
        label {
          width: 100%;
        }
        .title {
          width: 100%;
          input {
            margin-left: 15px;
          }
        }
        .place {
          width: 100%;
          padding: 0;
          input {
            width: 80%;
            margin-left: 31px;
          }
          img {
            margin-right: 15px;
          }
          .place_result {
            width: 75%;
          }
          .choose_place {
            width: 100%;
            box-sizing: border-box;
            padding-left: 20px;
          }
        }
      }
      .colors {
        input {
          width: 80%;
          margin-left: 20px;
        }
        .color_picker {
          top: 60px;
        }
      }
    }
    .editor_box {
      width: 90%;
    }
    .buttons {
      button {
        width: 40%;
      }
    }
  }

  .content_view {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    .logo {
      width: 70px;
      left: 10px;
    }
    .map {
      width: 40px;
    }
    .title_date {
      margin-top: 80px;
      font-size: 22px;
      .title {
        margin-left: 20px;
      }
      .date {
        font-size: 18px;
        margin-right: 15px;
      }
    }
    .place {
      font-size: 14px;
      height: 40px;
      .address {
        margin-left: 20px;
      }
      .place_name {
        margin-right: 20px;
        font-size: 15px;
      }
    }
  }

  .map_container {
    width: 100%;
    height: 100%;
    .header {
      top: 15px;
      width: 90%;
      height: 50px;
      .logo {
        width: 50px;
      }
      label {
        height: 30px;
        input {
          width: 65%;
          height: 90%;
          font-size: 18px;
        }
        img {
          width: 25px;
        }
      }
      .calender {
        width: 30px;
      }
    }
    .add {
      right: 30px;
      bottom: 100px;
    }
  }
}
