$colorBackgound: rgba(255, 237, 219, 0.7);
$colorBackgroundWhite: #f6f6f6;
$colorBlack: #424242;
$colorGrey: #888888;
$colorWhite: #ffffff;
$colorBeige: #edcdbb;
$colorLightBeige: #f4e4d3;
$colorBrown: #bf9270;
$colorOrange: #e26f1e;
