$colorBackgound: rgba(255, 237, 219, 0.7);
$colorWhite: #f6f6f6;
$colorBlack: #424242;
$colorDarkBlack: #262626;
$colorGrey: #888888;
$colorLightGrey: #c4c4c4;
$colorBeige: #edcdbb;
$colorLightBeige: #f4e4d3;
$colorBrown: #bf9270;
$colorDarkBrown: #68472f;
$colorOrange: #e26f1e;
$colorRed: #db0000;
$colorblue: #0000b6;
$colorBackgroundPink: #f9eeed;
$colorBtnBlue: #2d2b43;
$colorBtnBrown: #a95042;
$colorBtnGrey: #c6bebe;
$colorDarkPink: #e9cecc;
